<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <header>
        {{> header}}
    </header>

    {{{body}}}
<script src="/socket.js"></script>
</body>
</html>