<nav>
    <ul>
{{#if token}}
        <li><a href="/">Hem</a> </li>
        <li><a href="/selectGroup">See available groups</a> </li>
        {{else}}

        <li><a href="/">Hem</a> </li>
        <li><a href="/getGitlab">Logga in</a> </li>
        {{/if}}
    </ul>
</nav>