<nav>
    <ul>
{{#if token}}
        <li><a href="/">Hem</a> </li>
        <li><a href="/selectGroup">See available groups</a> </li>
        {{!-- <li><a href="/settings">Settings</a> </li> --}}
        <div id="signout">
        <form action="/logout" method="POST">
        <button type="submit" >Sign out</button>
        </form>
        </div>
        {{else}}

        <li><a href="/">Hem</a> </li>
        <li><a href="/getGitlab">Logga in</a> </li>
        {{/if}}
    </ul>
</nav>
