<p>Home</p>
{{#if token}}
<p>You are signed in</p>
<p>Here are the all new notices for today:</p>
    <div id="notice">
        <h3>Notice</h3>
        <p>changes has been made</p>
        <p id="tit"></p>
        <p id="nam"></p>
        <p id="comments"></p>
        <p id="descr"></p>
    </div>
{{#each issues}}
<div class="issue">
    <div class="issueTitle">
        <p>{{title}}</p>
    </div>
    <div class="issueText">
        <p>{{description}}</p>
    </div>
</div>
{{/each}}
{{else}}
<p>not signed in yet</p>
{{/if}}


  <p>Please select setting:</p>
