<p>Home</p>
{{#if token}}
<p>You are signed in</p>
<p>Here are the all new notices for today:</p>
{{#each issues}}
<div class="issue">
    <div class="issueTitle">
        <p>{{title}}</p>
    </div>
    <div class="issueText">
        <p>{{description}}</p>
    </div>
</div>
{{/each}}
{{else}}
<p>not signed in yet</p>
{{/if}}


  <p>Please select setting:</p>
<form>
  What color do you prefer?<br>
  <input type="radio" name="colors" id="red">Red<br>
  <input type="radio" name="colors" id="blue">Blue
</form>
<script>
<button onclick="check()">Check "Red"</button>
<button onclick="uncheck()">check blue</button>
function check() {
  document.getElementById("red").checked = true;
}
function uncheck() {
  document.getElementById("blue").checked = true;
}
</script>