<p>Home</p>
{{#if token}}
<p>You are signed in</p>
<h3>Notification: </h3>
<div class="issue">
    <div class="issueTitle">
        <p id="titlenew"></p>
    </div>
    <div class="issueText">
        <p id="desc"></p>
    </div>
</div>

<p>Here are the all new notices for today:</p>
{{#each issues}}
<div class="issue">
    <div class="issueTitle">
        <p>{{title}}</p>
    </div>
    <div class="issueText">
        <p>{{description}}</p>
    </div>
</div>
{{/each}}
{{else}}
<p>not signed in yet</p>
{{/if}}

