<p>Home</p>
{{#if token}}
<p>You are signed in</p>
<p>Here are the all new notices for today:</p>
{{#each issues}}
<div class="issue">
    <div class="issueTitle">
        <p>{{title}}</p>
    </div>
    <div class="issueText">
        <p>{{description}}</p>
    </div>
</div>
{{/each}}
{{else}}
<p>not signed in yet</p>
{{/if}}



  <p>Please select setting:</p>
    <form>
        <input type="radio" name="choice" value="yes"> Yes
        <input type="radio" name="choice" value="no"> No
        <input type="button" id="btn" value="Show Selected Value">
    </form>

    <script>  const btn = document.querySelector('#btn')
  // handle click button
  btn.onclick = function () {
    const rbs = document.querySelectorAll('input[name="choice"]')
    let selectedValue
    for (const rb of rbs) {
      if (rb.checked) {
        selectedValue = rb.value
        break
      }
    }
    selectedValue.checked = true
    alert(selectedValue)
  }</script>
