{{!-- <h2>Choose a setting for slack notifications</h2>
<button type="button" id="issues">Only issues</button>
<button type="button" id="allNote">All notifications</button> --}}

<form action="/settings" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="quote" name="quote">
  <button type="submit">Submit</button>
</form>