<h2>Specific Gitlab Group or Project</h2>

{{#each subGroups}}

<form action="{{id}}/webhook" method="get">
<button type="submit">{{name}}</button>
</form>
{{/each}}

{{#each projects}}
<form action="{{id}}/webhook" method="get">
<button type="submit">{{name}}</button>
</form>
{{/each}}
