body {
    margin-top: 80px;
    background-color: whitesmoke;
}
header {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 100%;
    opacity: 1;
    background-color: rgba(82, 80, 80, 0.733);
}

nav ul li {
    display: inline-block;
    margin: 5px;
}

nav a {
    padding: 20px; 
    text-decoration: none;
}


nav	a:link,	nav	a:visited {
    /* background-color:purple; */
    color:white;
}

nav	a:hover, nav a:active {
    background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:3px;
    border:1px solid #ee1eb5;
    cursor: pointer;
    color: white;
}

.issue {
    margin-top: 10px;
    margin-right: 50%;
  
}
.issueTitle {
    background-color: #ff5bb0;
    font-family: 'Lucida Grande', 'Helvetica Neue', Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    height: 60px;
    width: 300px;
    border-radius: 25px 25px 0px 0px;
    border-bottom:1px solid #ff5bb0;
    border: 1px solid #ff5bb0;
    overflow: auto;
} 
.issueText {
    background-color: rgb(247, 211, 233);
    font-family: 'Lucida Grande', 'Helvetica Neue', Brush Script MT, Brush Script Std, cursive;
    text-align: left;
    width: 300px;
    height: 150px;
    border-radius: 0px 0px 25px 25px;
    border-top: 1px solid #ff5bb0;
    border: 1px solid #ff5bb0;
    overflow: auto;
}
#logoutbtn {
    float: right;
}